# Data Science Project - Bitcoin Market Sentiment Analysis

Welcome to the main data science analysis notebook! This notebook contains the complete workflow for our data science project.

## Project Structure
```
ds_Lucky_Sharma/
├── notebook_1.ipynb     # Main analysis notebook (this file)
├── notebook_2.ipynb     # Additional analysis (optional)
├── csv_files/           # Data storage directory
├── outputs/             # Visualization outputs and results
└── README.md           # Project documentation
```

---

# Import Liberaries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load And Explore Data

Based on your Bitcoin Market Sentiment dataset and the objective to explore trading behavior vs market sentiment, here are the key analyses you can perform:

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/itsluckysharma01/ds_Lucky_Sharma/refs/heads/main/csv_files/fear_greed_index.csv')

In [6]:
df.head()  # Display the first few rows of the dataset

    timestamp  value classification        date
0  1517463000     30           Fear  2018-02-01
1  1517549400     15   Extreme Fear  2018-02-02
2  1517635800     40           Fear  2018-02-03
3  1517722200     24   Extreme Fear  2018-02-04
4  1517808600     11   Extreme Fear  2018-02-05

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2644 entries, 0 to 2643
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       2644 non-null   int64
 1   value           2644 non-null   int64
 2   classification  2644 non-null   object
 3   date            2644 non-null   object
dtypes: int64(2), object(2)
memory usage: 82.8+ KB

In [8]:
df.describe()

          timestamp        value
count  2.644000e+03  2644.000000
mean   1.631899e+09    46.981089
std    6.597967e+07    21.827680
min    1.517463e+09     5.000000
25%    1.574811e+09    28.000000
50%    1.631900e+09    46.000000
75%    1.688989e+09    66.000000
max    1.746164e+09    95.000000

In [9]:
df.shape #Rows and columns

(2644, 4)

## Check for null values

In [11]:
df.isnull().sum() #Check for null values

timestamp         0
value             0
classification    0
date              0
dtype: int64

### Data is clean and ready for analysis

# Check for duplicates